body{
	background-color:#bfbfbf;
}
div{
	width: 1000px;
	margin-left: auto;
	background-color: #eadfdf;
	margin-right: auto;
	padding: 50px;
}

img{
	max-width: 100%;
}
h1{
	
font-size: 50px;
	
margin-top: 0;
	
text-align: center; 
}
span{
	
color: seagreen;
	
text-transform: uppercase;
	
text-shadow: 5px 5px 5px #989898;
}

p{
	
font-size: 20px;
	
color: #3e3e3e;
	
line-height: 1.54;
}